
body{
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

//.clearfix {
//    clear: both;
//}

.admin-header {
    //height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    //position: absolute;
    z-index: 1000;
    .navbar {
        //max-height: 60px    !important;     //error
        margin-bottom: 0;
    }
    //background: #1f648b;//darkslategrey;      //#1f648b
}

.nav-admin {
    margin-left: 33px;
    li>a>i{
        font-size: 26px;
    }
}

.nav-user {
    .user-img {
        width: 35px;
        height: 35px;
        margin: 15px 5px 0 0;
        border-radius: 50%;
        //border: 5px solid white;
        vertical-align: middle;
        float: left;
    }

    //i{
    //    vertical-align: middle;
    //}
}

.dropdown-user {
    font-size: 14px;
    padding: 0;
    //background: #009688;
}

.admin-content {
    //padding: 10px 10px 50px 10px;
    //padding-bottom: 50px;
    position: relative;
    h5 {
        padding-top: 30px;
    }
    //float: left;
}

.admin-right-content {
    margin: 0 20px;
    position: relative;
}

.admin-footer{
    position: absolute;
    height: 56px;
    //margin-left: -10px;
    //margin-right: -10px;
    width: 100%;
    //width: calc(100% - 20px);

}

@media screen and (min-width: 600px){
    .admin-content {
        //min-height: calc(100% - 64px);
        margin-top: 64px;
    }
    .side-left {
        min-height: calc(100% - 64px);
        top: 64px;
    }
}
@media screen and (max-width: 599px){
    .admin-content {
        min-height: calc(100% - 54px);
        margin-top: 54px;
    }
    .side-left {
        min-height: calc(100% - 54px);
        top: 54px;
    }
}

.side-left {
    //width: 230px;
    //min-height: calc(100% - 60px);
    //float: left;
    //position: absolute;
    position: fixed;
    z-index: 100;
    left: 0;
    //top:0;
    background: #222d32;
    color: #b8c7ce;

    .user-profile {
        width: 100%;
        padding: 10px 10px;
        float: left;
        margin-top: 3px;
        margin-bottom: 10px;
        position: relative;
        //.user-img {
        //    width: 50px;
        //    height: 50px;
        //    border-radius: 50%;
        //    border: 5px solid white;
        //    vertical-align: middle;
        //    float: left;
        //}

        .user-info {
            float: left;
            margin-left: 10px;
            line-height: 1.4;
            overflow: hidden;
            display: block;
            p{
                margin-top: 5px;
                margin-bottom: 2px;
            }
            h5 {
                color: white;
                padding: 5px 0;
                margin: 3px 0;
            }
        }

        .side-toggle {
            //float: right;
            position: absolute;
            right: 10px;
            margin: 15px 15px 0 0;
            a>i {
                color: #b8c7ce;
                font-size: 30px;
                line-height: 1.2;
            }
        }
    }
}


.side-md {
    .side-left{
        width: 230px;
    }

    .admin-content {
        width: calc(100% - 230px);
        margin-left: 230px;
    }

    footer {
        margin-left: 230px;
    }
}

.side-menu {
    .current {
        .side-item-name{
            color: white    !important;
        }
    }
    padding: 0;
    position: relative;
    list-style: none;
    height: auto;
    width: 100%;
    li {
        width: 100%;
        float: left;
        //padding: 10px 20px;
        position: relative;
        margin-left: 0;
        display: block;
        .side-treeview {
            display: none;
            li{
                a{
                    overflow: visible;
                    span{
                        margin-left: 5px;
                        color: #b8c7ce  !important;
                    }
                }
                width: 100%;
                padding-left: 0;
            }
        }
        a{
            text-decoration: none;
            cursor: pointer;
            position: relative;
            padding: 10px 20px;
            line-height: 1.4;
            white-space: nowrap;
            overflow: hidden;
            display: block;

            color: #b8c7ce;
            span {
                //margin-left: 10px;
                margin-right: 5px;
                font-size: 14px;
                line-height: 1.4;
            }
            .iconfont {
                font-size: 16px;
            }
            i {
                position: absolute;
                right: 20px;
                z-index: 20;
                //float: right;
                transition: transform 0.5s;
            }
        }
    }
    li:hover {
        background: #23282d;
    }
    //li.active:after {
    //    content: '';
    //    width: 18px;
    //    height: 18px;
    //    //border-width: 5px;
    //    //border-right: 5px solid white;
    //    border-width: 1px 0 0 1px;
    //    background: #eee;
    //    -webkit-transform: rotate(45deg);
    //    position: absolute;
    //    right: -10px;
    //    top: 13px;
    //}
}

.side-sm {
    .side-left {
        width: 70px;
    }

    .admin-content {
        width: calc(100% - 170px);
        margin-left: 70px;
    }

    footer {
        margin-left: 70px;
    }

    .side-left {
        .user-info, .side-menu>li>a>span.side-item-name, .side-menu i{
            opacity: 0;
        }

        .side-menu {

            li{
                display: block;
                position: relative;

                a>span {
                    font-size: 20px;
                    line-height: 1.4;
                }
                .side-treeview {
                    display: none;
                    left: 100%;
                    position: absolute      !important;
                    border-left: 5px solid #1ABB9C;
                    padding: 0;
                    margin: 0;
                    top: 0;
                    width: 180px;
                    z-index: 1000;
                    background: rgb(44, 59, 65);
                    li{
                        position: relative;
                        width: 100%;
                        //padding-left: 10px;
                        a {
                            padding: 10px 10px;
                            border-left: 1px solid #425668;
                            margin-left: 19px;
                            display: block;
                            span {
                                font-size: 14px;
                                color: #b8c7ce;
                            }
                        }
                        //z-index: 10;
                        a:before {
                            background: #425668;
                            bottom: auto;
                            content: "";
                            height: 9px;
                            left: -5px;
                            margin-top: 5px;
                            position: absolute;
                            right: auto;
                            width: 9px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

.side-md .side-left{

    .side-menu {
        .side-treeview {
            float: left;
            list-style: none;
            background: rgb(44, 59, 65);
            width: 100%;
            padding-left: 0;
            border-right: 5px solid #1ABB9C;
            li {
                padding-left: 28px;
                position: relative;
                a {
                    padding: 10px 10px;
                    border-left: 1px solid #425668;
                    //span {
                    //    display: inline-block;
                    //}
                }
                //z-index: 10;
                a:before {
                    background: #425668;
                    bottom: auto;
                    content: "";
                    height: 9px;
                    left: -5px;
                    margin-top: 5px;
                    position: absolute;
                    right: auto;
                    width: 9px;
                    border-radius: 50%;
                }
            }
        }

        //li, .side-treeview li {
        li.active {
            a>i {
                transform:rotate(-90deg);
                -ms-transform:rotate(-90deg); /* IE 9 */
                -webkit-transform:rotate(-90deg); /* Safari and Chrome */
            }
        }
    }
}


// article
.select-status {
    list-style: none;
    float: left;
    display: block;
    padding:0;
    color: white;
    margin-left: 10px;
    li {
        display: inline-block;
        list-style: none;
        float: left;
        padding: 0 5px;
        font-size: 16px;
        color: #666666;
        a.active {
            color: #666666;
        }
    }
}

.table-list {
    width: 100%;
    font-size: 14px;
    //background: white;
    border-top: 1px solid #e0e0e0;
    tr {
        border-left: 1px solid #e0e0e0;
        //padding: 5px 10px;
        //padding-left: 20px;

    }
    td, th {
        border-right: 1px solid #e0e0e0;
        padding-left: 20px;
    }
    td {
        //font-size: 13px;
        //padding: 15px 5px;
        a, p, span, button {
            //padding: 5px 10px;
            margin-right: 10px;
            display: block;
            float: left;
        }
        .row {
            margin-bottom: 0;
        }
    }
    form {
        margin: 0;
        float: left;
    }

    .table-article-title {
        font-weight: 600;
    }

    .manage-column {
        width: 36px;
    }
}

.chip-tag {
    border-radius: 1px;
}

.pagination{
    li span {
        color: #444;
        display: inline-block;
        font-size: 1.2rem;
        padding: 0 10px;
        line-height: 30px;
    }
    li.active {
        span, a{
            color: #fff;
        }
    }
}


.input-field {
    margin-top: 5px;
}

.input-field-button {
    margin-top: 15px;
}

.article-body-content {
    width: 100%;
    height: auto;
    padding-right: 300px;
    position: relative;
}

.right-card-list {
    width: 280px;
    right: 0;
    top: 0;
    position: absolute;
}

.top-title {
    font-size: 26px;
    //font-weight: 400;
    margin-top: 100px;
    margin-bottom: 30px;
}

.editormd-dialog {
    //width: auto     !important;
    top: 20%          !important;
    height: auto    !important;
}

.card {
    margin-bottom: 30px;
    .card-content {
        word-wrap:break-word;
    }
}