.parallax-container {
    height: 40%;
}

header {

    .valign-wrapper {
        height: 100%;
        font-weight: bold;
        color: white;
        .valign {
            width: 100%;
            .user-img {
                width: 100px;
                height: 100px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
        }
    }
}

main {
    min-height: 60%;
    //margin-top: 40%;
    position: relative;

}

#tabs_id {
    //border-bottom: 1px solid #EEEEEE;
    margin-bottom: 50px;
    border-bottom: none;
    //.indicator {
    //    background-color: #29b6f6;
    //}
}

#article_search_form{
    .input-field label {
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
    }
}


#header_id {
    position: absolute;
    z-index: 100000;
    top: 0;
    background: transparent !important;
    -webkit-box-shadow: none;
}

#main_content_id {
    //margin-top: 60px;
    //position: relative;
}

#user_card {
    img {
        margin-top: -40px;
        margin-left: calc(50% - 40px);
        width: 80px;
        height: 80px;
        //border-radius: 50%;
    }
}

.pagination {
    li span {
        color: #444;
        display: inline-block;
        font-size: 1.2rem;
        padding: 0 10px;
        line-height: 30px;
    }
    li.active {
        span, a {
            color: #fff;
        }
    }
}

.card {
    margin-bottom: 40px;
    .card-content {
        word-wrap: break-word;
    }
}

.a-article-card {
    margin-right: 30px;
}

.a-article {
    margin-right: 30px;
    //border-bottom: 1px solid #EEEEEE;
    //border-left: 5px solid transparent;
    //.card-content, .card-action, .card-title {
    padding-left: 30px;
    padding-right: 30px;
    //padding: 30px;
    //}

    .card-action {
        .row {
            margin-bottom: 0;
        }

    }

    .article-info {
        span {
            padding-right: 8px;
            font-size: 16px;
            //color: #bdbdbd;
        }

        .breadcrumb:before {
            content: '/';
            font-size: 1em;
        }
    }
}

.article_html {
    blockquote {
        font-style: normal;
    }
}

.archive-container, .category-container {
    a {
        color: #000;
    }
}

.archive-container {
    border-left: 1px solid #e0e0e0;
    padding-left: 80px;
    //position: absolute;

    .archive-month {
        position: relative;

        .card:before {
            content: '';
            width: 20px;
            height: 20px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            background: white;
            //border-left: 1px solid #EEEEEE;
            //border-bottom: 1px solid #EEEEEE;
            -webkit-box-shadow: -2px 2px 0px #EEEEEE;
            -moz-box-shadow: -2px 2px 0px #EEEEEE;
            box-shadow: -2px 2px 0px #EEEEEE;
            //border: 10px solid white;
            //border-width: 5px 10px 15px 10px;
            //border-right: #EEEEEE;
            //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

            position: absolute;
            left: -10px;
            top: 45px;
        }
    }

    .archive-month-date {
        position: relative;
    }

    .month-flag {
        height: 36px;
        width: 50px;
        border: 18px solid #00897b;
        border-right-color: transparent;
        position: absolute;
        left: -91px;
        //top: 4px;
    }

    .article-flag {
        height: 11px;
        width: 11px;
        position: absolute;
        left:-86px;
        top: 50px;
        border-radius: 50%;
        background: #b0bec5;
    }
    //
    //h5 {
    //
    //}


}