body{
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.admin-header {
    //height: 60px;
    width: 100%;
    //position: absolute;
    z-index: 100;
    .navbar {
        //max-height: 60px    !important;     //error
        margin-bottom: 0;
    }
    //background: #1f648b;//darkslategrey;      //#1f648b
}

.dropdown-user {
    .user-img {
        width: 30px;
        height: 30px;
        margin: -5px 5px 0 0;
        border-radius: 50%;
        //border: 5px solid white;
        vertical-align: middle;
        float: left;
    }

    i{
        //margin-top: 1px;
        //top: 1px;
        vertical-align: middle;
    }
}

.admin-content {
    //min-height: calc(100% - 60px);
    width: 100%;
    //position: absolute;
    //margin-top: 60px;
    float: left;
}

@media screen and (min-width: 1200px){
    .admin-content {
        min-height: calc(100% - 60px);
    }
    .side-left {
        min-height: calc(100% - 60px);
    }
}
@media screen and (max-width: 1199px){
    .admin-content {
        min-height: calc(100% - 50px);
    }
    .side-left {
        min-height: calc(100% - 50px);
    }
}

.side-left {
    //width: 230px;
    //min-height: calc(100% - 60px);
    float: left;
    left: 0;
    top:0;
    background: #222d32;
    color: #b8c7ce;

    .user-profile {
        width: 100%;
        padding: 10px 10px;
        float: left;
        margin-top: 3px;
        margin-bottom: 10px;
        //.user-img {
        //    width: 50px;
        //    height: 50px;
        //    border-radius: 50%;
        //    border: 5px solid white;
        //    vertical-align: middle;
        //    float: left;
        //}

        .user-info {
            float: left;
            margin-left: 10px;
            line-height: 1.4;
            p{
                margin-top: 5px;
                margin-bottom: 2px;
            }
            h4 {
                color: white;
                margin: 3px 0;
            }
        }

        .side-toggle {
            float: right;
            font-size: 26px;
            line-height: 30px;
            margin: 15px 15px 0 0;
            a {
                color: #b8c7ce;
            }
        }
    }
}

.admin-right-content {
    float: left;
}

.side-md {
    .side-left{
        width: 230px;
    }
    .admin-right-content {
        width: calc(100% - 230px);
    }
}

.side-menu {
    padding: 0;
    list-style: none;
    width: 100%;
    li {
        width: 100%;
        float: left;
        //padding: 10px 20px;
        position: relative;
        margin-left: 0;
        display: block;
        .side-treeview {
            display: none;
            li{
                width: 100%;
                padding-left: 0;
            }
        }
        a{
            text-decoration: none;
            cursor: pointer;
            padding: 10px 20px;
            line-height: 1.4;
            display: block;
            color: #b8c7ce;
            span {
                //margin-left: 10px;
                margin-right: 5px;
                font-size: 14px;
                line-height: 1.4;
            }
            i.fa {
                float: right;
                transition: transform 0.5s;
            }
        }
    }
    li:hover {
        background: #23282d;
    }
}

.side-sm {
    .side-left {
        width: 70px;
        //animation:move 0.5s;
        //@keyframes move{
        //    0%{width:230px;}
        //    //50%{width:150px;}
        //    100%{width:70px;}
        //}
    }
    .admin-right-content {
        width: calc(100% - 70px);
    }

    .side-left {
        .user-info, .side-item-name, .side-menu i{
            display: none;
        }

        .side-menu {

            li{
                display: block;
                position: relative;

                a>span {
                    font-size: 20px;
                    line-height: 1.4;
                }
                .side-treeview {
                    display: none;
                    left: 100%;
                    position: absolute      !important;
                    border-left: 5px solid #1ABB9C;
                    //border-ri
                    padding: 0;
                    margin: 0;
                    top: 0;
                    width: 180px;
                    z-index: 1000;
                    background: rgb(44, 59, 65);
                    li>a>span{
                        font-size: 14px;
                    }
                    li{
                        position: relative;
                        width: 100%;
                        //padding-left: 10px;
                        a {
                            padding: 10px 10px;
                            border-left: 1px solid #425668;
                            margin-left: 19px;
                        }
                        //z-index: 10;
                        a:before {
                            background: #425668;
                            bottom: auto;
                            content: "";
                            height: 9px;
                            left: 15px;
                            margin-top: 5px;
                            position: absolute;
                            right: auto;
                            width: 9px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

.side-md>.side-left>.side-menu {
    .side-treeview {
        float: left;
        list-style: none;
        background: rgb(44, 59, 65);
        width: 100%;
        padding-left: 0;
        border-right: 5px solid #1ABB9C;
        li {
            padding-left: 28px;
            position: relative;
            a {
                padding: 10px 10px;
                border-left: 1px solid #425668;
            }
            //z-index: 10;
            a:before {
                background: #425668;
                bottom: auto;
                content: "";
                height: 9px;
                left: 24px;
                margin-top: 5px;
                position: absolute;
                right: auto;
                width: 9px;
                border-radius: 50%;
            }
        }
    }

    //li, .side-treeview li {
    li.active {
        a>i.fa {
            transform:rotate(-90deg);
            -ms-transform:rotate(-90deg); /* IE 9 */
            -webkit-transform:rotate(-90deg); /* Safari and Chrome */
        }
    }
}