/* line 2, ../sass/admin.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/admin.scss */
a {
  cursor: pointer;
}

/* line 10, ../sass/admin.scss */
a:hover {
  text-decoration: none;
}

/* line 18, ../sass/admin.scss */
.admin-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}
/* line 25, ../sass/admin.scss */
.admin-header .navbar {
  margin-bottom: 0;
}

/* line 32, ../sass/admin.scss */
.nav-admin {
  margin-left: 33px;
}
/* line 34, ../sass/admin.scss */
.nav-admin li > a > i {
  font-size: 26px;
}

/* line 40, ../sass/admin.scss */
.nav-user .user-img {
  width: 35px;
  height: 35px;
  margin: 15px 5px 0 0;
  border-radius: 50%;
  vertical-align: middle;
  float: left;
}

/* line 55, ../sass/admin.scss */
.dropdown-user {
  font-size: 14px;
  padding: 0;
}

/* line 61, ../sass/admin.scss */
.admin-content {
  position: relative;
}
/* line 65, ../sass/admin.scss */
.admin-content h5 {
  padding-top: 30px;
}

/* line 71, ../sass/admin.scss */
.admin-right-content {
  margin: 0 20px;
  position: relative;
}

/* line 76, ../sass/admin.scss */
.admin-footer {
  position: absolute;
  height: 56px;
  width: 100%;
}

@media screen and (min-width: 600px) {
  /* line 87, ../sass/admin.scss */
  .admin-content {
    margin-top: 64px;
  }

  /* line 91, ../sass/admin.scss */
  .side-left {
    min-height: calc(100% - 64px);
    top: 64px;
  }
}
@media screen and (max-width: 599px) {
  /* line 97, ../sass/admin.scss */
  .admin-content {
    min-height: calc(100% - 54px);
    margin-top: 54px;
  }

  /* line 101, ../sass/admin.scss */
  .side-left {
    min-height: calc(100% - 54px);
    top: 54px;
  }
}
/* line 107, ../sass/admin.scss */
.side-left {
  position: fixed;
  z-index: 100;
  left: 0;
  background: #222d32;
  color: #b8c7ce;
}
/* line 119, ../sass/admin.scss */
.side-left .user-profile {
  width: 100%;
  padding: 10px 10px;
  float: left;
  margin-top: 3px;
  margin-bottom: 10px;
  position: relative;
}
/* line 135, ../sass/admin.scss */
.side-left .user-profile .user-info {
  float: left;
  margin-left: 10px;
  line-height: 1.4;
  overflow: hidden;
  display: block;
}
/* line 141, ../sass/admin.scss */
.side-left .user-profile .user-info p {
  margin-top: 5px;
  margin-bottom: 2px;
}
/* line 145, ../sass/admin.scss */
.side-left .user-profile .user-info h5 {
  color: white;
  padding: 5px 0;
  margin: 3px 0;
}
/* line 152, ../sass/admin.scss */
.side-left .user-profile .side-toggle {
  position: absolute;
  right: 10px;
  margin: 15px 15px 0 0;
}
/* line 157, ../sass/admin.scss */
.side-left .user-profile .side-toggle a > i {
  color: #b8c7ce;
  font-size: 30px;
  line-height: 1.2;
}

/* line 168, ../sass/admin.scss */
.side-md .side-left {
  width: 230px;
}
/* line 172, ../sass/admin.scss */
.side-md .admin-content {
  width: calc(100% - 230px);
  margin-left: 230px;
}
/* line 177, ../sass/admin.scss */
.side-md footer {
  margin-left: 230px;
}

/* line 182, ../sass/admin.scss */
.side-menu {
  padding: 0;
  position: relative;
  list-style: none;
  height: auto;
  width: 100%;
}
/* line 184, ../sass/admin.scss */
.side-menu .current .side-item-name {
  color: white    !important;
}
/* line 193, ../sass/admin.scss */
.side-menu li {
  width: 100%;
  float: left;
  position: relative;
  margin-left: 0;
  display: block;
}
/* line 200, ../sass/admin.scss */
.side-menu li .side-treeview {
  display: none;
}
/* line 202, ../sass/admin.scss */
.side-menu li .side-treeview li {
  width: 100%;
  padding-left: 0;
}
/* line 203, ../sass/admin.scss */
.side-menu li .side-treeview li a {
  overflow: visible;
}
/* line 205, ../sass/admin.scss */
.side-menu li .side-treeview li a span {
  margin-left: 5px;
  color: #b8c7ce  !important;
}
/* line 214, ../sass/admin.scss */
.side-menu li a {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  color: #b8c7ce;
}
/* line 225, ../sass/admin.scss */
.side-menu li a span {
  margin-right: 5px;
  font-size: 14px;
  line-height: 1.4;
}
/* line 231, ../sass/admin.scss */
.side-menu li a .iconfont {
  font-size: 16px;
}
/* line 234, ../sass/admin.scss */
.side-menu li a i {
  position: absolute;
  right: 20px;
  z-index: 20;
  transition: transform 0.5s;
}
/* line 243, ../sass/admin.scss */
.side-menu li:hover {
  background: #23282d;
}

/* line 262, ../sass/admin.scss */
.side-sm .side-left {
  width: 70px;
}
/* line 266, ../sass/admin.scss */
.side-sm .admin-content {
  width: calc(100% - 170px);
  margin-left: 70px;
}
/* line 271, ../sass/admin.scss */
.side-sm footer {
  margin-left: 70px;
}
/* line 276, ../sass/admin.scss */
.side-sm .side-left .user-info, .side-sm .side-left .side-menu > li > a > span.side-item-name, .side-sm .side-left .side-menu i {
  opacity: 0;
}
/* line 282, ../sass/admin.scss */
.side-sm .side-left .side-menu li {
  display: block;
  position: relative;
}
/* line 286, ../sass/admin.scss */
.side-sm .side-left .side-menu li a > span {
  font-size: 20px;
  line-height: 1.4;
}
/* line 290, ../sass/admin.scss */
.side-sm .side-left .side-menu li .side-treeview {
  display: none;
  left: 100%;
  position: absolute      !important;
  border-left: 5px solid #1ABB9C;
  padding: 0;
  margin: 0;
  top: 0;
  width: 180px;
  z-index: 1000;
  background: #2c3b41;
}
/* line 301, ../sass/admin.scss */
.side-sm .side-left .side-menu li .side-treeview li {
  position: relative;
  width: 100%;
}
/* line 305, ../sass/admin.scss */
.side-sm .side-left .side-menu li .side-treeview li a {
  padding: 10px 10px;
  border-left: 1px solid #425668;
  margin-left: 19px;
  display: block;
}
/* line 310, ../sass/admin.scss */
.side-sm .side-left .side-menu li .side-treeview li a span {
  font-size: 14px;
  color: #b8c7ce;
}
/* line 316, ../sass/admin.scss */
.side-sm .side-left .side-menu li .side-treeview li a:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 9px;
  left: -5px;
  margin-top: 5px;
  position: absolute;
  right: auto;
  width: 9px;
  border-radius: 50%;
}

/* line 338, ../sass/admin.scss */
.side-md .side-left .side-menu .side-treeview {
  float: left;
  list-style: none;
  background: #2c3b41;
  width: 100%;
  padding-left: 0;
  border-right: 5px solid #1ABB9C;
}
/* line 345, ../sass/admin.scss */
.side-md .side-left .side-menu .side-treeview li {
  padding-left: 28px;
  position: relative;
}
/* line 348, ../sass/admin.scss */
.side-md .side-left .side-menu .side-treeview li a {
  padding: 10px 10px;
  border-left: 1px solid #425668;
}
/* line 356, ../sass/admin.scss */
.side-md .side-left .side-menu .side-treeview li a:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 9px;
  left: -5px;
  margin-top: 5px;
  position: absolute;
  right: auto;
  width: 9px;
  border-radius: 50%;
}
/* line 373, ../sass/admin.scss */
.side-md .side-left .side-menu li.active a > i {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Safari and Chrome */
}

/* line 384, ../sass/admin.scss */
.select-status {
  list-style: none;
  float: left;
  display: block;
  padding: 0;
  color: white;
  margin-left: 10px;
}
/* line 391, ../sass/admin.scss */
.select-status li {
  display: inline-block;
  list-style: none;
  float: left;
  padding: 0 5px;
  font-size: 16px;
  color: #666666;
}
/* line 398, ../sass/admin.scss */
.select-status li a.active {
  color: #666666;
}

/* line 404, ../sass/admin.scss */
.table-list {
  width: 100%;
  font-size: 14px;
  border-top: 1px solid #e0e0e0;
}
/* line 409, ../sass/admin.scss */
.table-list tr {
  border-left: 1px solid #e0e0e0;
}
/* line 415, ../sass/admin.scss */
.table-list td, .table-list th {
  border-right: 1px solid #e0e0e0;
  padding-left: 20px;
}
/* line 422, ../sass/admin.scss */
.table-list td a, .table-list td p, .table-list td span, .table-list td button {
  margin-right: 10px;
  display: block;
  float: left;
}
/* line 428, ../sass/admin.scss */
.table-list td .row {
  margin-bottom: 0;
}
/* line 432, ../sass/admin.scss */
.table-list form {
  margin: 0;
  float: left;
}
/* line 437, ../sass/admin.scss */
.table-list .table-article-title {
  font-weight: 600;
}
/* line 441, ../sass/admin.scss */
.table-list .manage-column {
  width: 36px;
}

/* line 446, ../sass/admin.scss */
.chip-tag {
  border-radius: 1px;
}

/* line 451, ../sass/admin.scss */
.pagination li span {
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
}
/* line 459, ../sass/admin.scss */
.pagination li.active span, .pagination li.active a {
  color: #fff;
}

/* line 466, ../sass/admin.scss */
.input-field {
  margin-top: 5px;
}

/* line 470, ../sass/admin.scss */
.input-field-button {
  margin-top: 15px;
}

/* line 474, ../sass/admin.scss */
.article-body-content {
  width: 100%;
  height: auto;
  padding-right: 300px;
  position: relative;
}

/* line 481, ../sass/admin.scss */
.right-card-list {
  width: 280px;
  right: 0;
  top: 0;
  position: absolute;
}

/* line 488, ../sass/admin.scss */
.top-title {
  font-size: 26px;
  margin-top: 100px;
  margin-bottom: 30px;
}

/* line 495, ../sass/admin.scss */
.editormd-dialog {
  top: 20%          !important;
  height: auto    !important;
}

/* line 501, ../sass/admin.scss */
.card {
  margin-bottom: 30px;
}
/* line 503, ../sass/admin.scss */
.card .card-content {
  word-wrap: break-word;
}
