.main-header {
    background-color: #52768e;
    color: white;
    background-size: 100% auto;
    position: static;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
}

a {
    /*display: block;*/
    /*text-decoration: none;*/
    cursor: auto;
    /*cursor: pointer;*/
}

a:hover {
    text-decoration: none;
    /*cursor: pointer;*/
}

li {
    word-break: break-all;
    word-wrap: break-word;
}

a.white-color {
    color:white;
}

.admin-row {
    /*padding: 0;     !important;*/
}

.word-wrap {
    word-break: break-all;
    word-wrap: break-word;
}

.description {
    font-size: 24px;
    line-height: 24px;
    /*text-align: center;*/
}

.content-wrap {
    /*min-height: 100%;*/
    margin-bottom: 60px;
}

.side-left {
    min-width: 200px;
    width: 20%;
    min-height: 100%;
    color: #000;
    background-color: #f5f5f5;
    float: left;
}

.admin-content {
    float: left;
    width: 80%;
    /*height: 100%;*/
    margin-bottom: 60px;
}

.margin-top-50 {
    margin-top: 50px;
}

.right {
    float: right;
}