/* line 1, ../sass/blog.scss */
body {
  background: url("/images/header.jpg") no-repeat 100% 100%;
}

/* line 5, ../sass/blog.scss */
header {
  height: 40%;
  width: 100%;
  background: transparent;
}
/* line 13, ../sass/blog.scss */
header .valign-wrapper {
  height: 100%;
}
/* line 15, ../sass/blog.scss */
header .valign-wrapper .valign {
  width: 100%;
}

/* line 21, ../sass/blog.scss */
main {
  position: relative;
}
