/* line 3, ../sass/home.scss */
header .valign-wrapper {
  height: 100%;
  font-weight: bold;
  color: white;
}
/* line 7, ../sass/home.scss */
header .valign-wrapper .valign {
  width: 100%;
}
/* line 9, ../sass/home.scss */
header .valign-wrapper .valign .user-img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 20, ../sass/home.scss */
main {
  min-height: 60%;
  position: relative;
}

/* line 28, ../sass/home.scss */
#article_search_form input[type=search] {
  height: 4.5rem;
}
/* line 32, ../sass/home.scss */
#article_search_form .input-field label {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}

/* line 41, ../sass/home.scss */
.parallax-container {
  height: 350px;
}

/* line 45, ../sass/home.scss */
#header_id {
  position: absolute;
  z-index: 100000;
  top: 0;
  background: transparent !important;
  -webkit-box-shadow: none;
}

/* line 60, ../sass/home.scss */
#user_card img {
  margin-top: -40px;
  margin-left: calc(50% - 40px);
  width: 80px;
  height: 80px;
}

/* line 70, ../sass/home.scss */
.pagination li span {
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
}
/* line 78, ../sass/home.scss */
.pagination li.active span, .pagination li.active a {
  color: #fff;
}

/* line 84, ../sass/home.scss */
.card {
  margin-bottom: 40px;
}
/* line 86, ../sass/home.scss */
.card .card-content {
  word-wrap: break-word;
}

/* line 91, ../sass/home.scss */
.a-article-card {
  margin-right: 30px;
}

/* line 95, ../sass/home.scss */
.a-article {
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
/* line 101, ../sass/home.scss */
.a-article .card-action .row {
  margin-bottom: 0;
}
/* line 108, ../sass/home.scss */
.a-article .article-info span {
  padding-right: 8px;
  font-size: 16px;
}
/* line 114, ../sass/home.scss */
.a-article .article-info .breadcrumb:before {
  content: '/';
  font-size: 1em;
}

/* line 122, ../sass/home.scss */
.archive-container a, .category-container a {
  color: #000;
}

/* line 127, ../sass/home.scss */
.archive-container {
  border-left: 1px solid #e0e0e0;
  padding-left: 80px;
}
/* line 132, ../sass/home.scss */
.archive-container .archive-month {
  position: relative;
}
/* line 135, ../sass/home.scss */
.archive-container .archive-month .card:before {
  content: '';
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: white;
  -webkit-box-shadow: -2px 2px 0px #EEEEEE;
  -moz-box-shadow: -2px 2px 0px #EEEEEE;
  box-shadow: -2px 2px 0px #EEEEEE;
  position: absolute;
  left: -10px;
  top: 45px;
}
/* line 152, ../sass/home.scss */
.archive-container .archive-month-date {
  position: relative;
}
/* line 156, ../sass/home.scss */
.archive-container .month-flag {
  height: 36px;
  width: 50px;
  border: 18px solid #00897b;
  border-right-color: transparent;
  position: absolute;
  left: -91px;
}
/* line 165, ../sass/home.scss */
.archive-container .article-flag {
  height: 11px;
  width: 11px;
  position: absolute;
  left: -86px;
  top: 50px;
  border-radius: 50%;
  background: #b0bec5;
}

/* line 178, ../sass/home.scss */
.markdown-body ul {
  list-style-type: disc;
}
/* line 180, ../sass/home.scss */
.markdown-body ul li {
  list-style-type: disc;
}
/* line 182, ../sass/home.scss */
.markdown-body ul li ul {
  list-style-type: circle;
}
/* line 184, ../sass/home.scss */
.markdown-body ul li ul li {
  list-style-type: circle;
}
/* line 186, ../sass/home.scss */
.markdown-body ul li ul li ul {
  list-style-type: square;
}
/* line 188, ../sass/home.scss */
.markdown-body ul li ul li ul li {
  list-style-type: square;
}
/* line 197, ../sass/home.scss */
.markdown-body .markdown-toc-list ul, .markdown-body .markdown-toc-list li {
  list-style-type: none;
}
/* line 201, ../sass/home.scss */
.markdown-body input[type="checkbox"] {
  position: relative;
  opacity: 1;
  pointer-events: auto;
}
/* line 206, ../sass/home.scss */
.markdown-body table {
  width: 100%;
}
