/* line 2, ../sass/my.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/my.scss */
a {
  cursor: pointer;
}

/* line 10, ../sass/my.scss */
a:hover {
  text-decoration: none;
}

/* line 14, ../sass/my.scss */
.clearfix {
  clear: both;
}

/* line 18, ../sass/my.scss */
.admin-header {
  width: 100%;
  z-index: 100;
}
/* line 23, ../sass/my.scss */
.admin-header .navbar {
  margin-bottom: 0;
}

/* line 30, ../sass/my.scss */
.nav-admin {
  margin-left: 33px;
}
/* line 32, ../sass/my.scss */
.nav-admin li > a > i {
  font-size: 26px;
}

/* line 38, ../sass/my.scss */
.nav-user .user-img {
  width: 30px;
  height: 30px;
  margin: -5px 5px 0 0;
  border-radius: 50%;
  vertical-align: middle;
  float: left;
}
/* line 48, ../sass/my.scss */
.nav-user i {
  vertical-align: middle;
}

/* line 55, ../sass/my.scss */
.dropdown-user {
  font-size: 14px;
  padding: 0;
}

/* line 61, ../sass/my.scss */
.admin-content {
  width: 100%;
  position: relative;
  float: left;
}

@media screen and (min-width: 1200px) {
  /* line 74, ../sass/my.scss */
  .side-left {
    min-height: calc(100% - 60px);
  }
}
@media screen and (max-width: 1199px) {
  /* line 82, ../sass/my.scss */
  .side-left {
    min-height: calc(100% - 50px);
  }
}
/* line 87, ../sass/my.scss */
.side-left {
  float: left;
  left: 0;
  top: 0;
  background: #222d32;
  color: #b8c7ce;
}
/* line 96, ../sass/my.scss */
.side-left .user-profile {
  width: 100%;
  padding: 10px 10px;
  float: left;
  margin-top: 3px;
  margin-bottom: 10px;
  position: relative;
}
/* line 112, ../sass/my.scss */
.side-left .user-profile .user-info {
  float: left;
  margin-left: 10px;
  line-height: 1.4;
  overflow: hidden;
  display: block;
}
/* line 118, ../sass/my.scss */
.side-left .user-profile .user-info p {
  margin-top: 5px;
  margin-bottom: 2px;
}
/* line 122, ../sass/my.scss */
.side-left .user-profile .user-info h4 {
  color: white;
  margin: 3px 0;
}
/* line 128, ../sass/my.scss */
.side-left .user-profile .side-toggle {
  position: absolute;
  right: 10px;
  margin: 15px 15px 0 0;
}
/* line 133, ../sass/my.scss */
.side-left .user-profile .side-toggle a > i {
  color: #b8c7ce;
  font-size: 30px;
  line-height: 1.2;
}

/* line 143, ../sass/my.scss */
.side-md .side-left {
  width: 230px;
}
/* line 146, ../sass/my.scss */
.side-md .admin-right-content {
  width: calc(100% - 230px);
}

/* line 151, ../sass/my.scss */
.side-menu {
  padding: 0;
  list-style: none;
  width: 100%;
}
/* line 155, ../sass/my.scss */
.side-menu li {
  width: 100%;
  float: left;
  position: relative;
  margin-left: 0;
  display: block;
}
/* line 162, ../sass/my.scss */
.side-menu li .side-treeview {
  display: none;
}
/* line 164, ../sass/my.scss */
.side-menu li .side-treeview li {
  width: 100%;
  padding-left: 0;
}
/* line 165, ../sass/my.scss */
.side-menu li .side-treeview li a {
  overflow: visible;
}
/* line 167, ../sass/my.scss */
.side-menu li .side-treeview li a span {
  margin-left: 5px;
}
/* line 175, ../sass/my.scss */
.side-menu li a {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  color: #b8c7ce;
}
/* line 186, ../sass/my.scss */
.side-menu li a span {
  margin-right: 5px;
  font-size: 14px;
  line-height: 1.4;
}
/* line 192, ../sass/my.scss */
.side-menu li a .iconfont {
  font-size: 16px;
}
/* line 195, ../sass/my.scss */
.side-menu li a i {
  position: absolute;
  right: 15px;
  z-index: 20;
  transition: transform 0.5s;
}
/* line 204, ../sass/my.scss */
.side-menu li:hover {
  background: #23282d;
}
/* line 207, ../sass/my.scss */
.side-menu li.active {
  color: white;
}

/* line 213, ../sass/my.scss */
.side-sm .side-left {
  width: 70px;
}
/* line 216, ../sass/my.scss */
.side-sm .admin-right-content {
  width: calc(100% - 70px);
}
/* line 221, ../sass/my.scss */
.side-sm .side-left .user-info, .side-sm .side-left .side-item-name, .side-sm .side-left .side-menu i {
  opacity: 0;
}
/* line 227, ../sass/my.scss */
.side-sm .side-left .side-menu li {
  display: block;
  position: relative;
}
/* line 231, ../sass/my.scss */
.side-sm .side-left .side-menu li a > span {
  font-size: 20px;
  line-height: 1.4;
}
/* line 235, ../sass/my.scss */
.side-sm .side-left .side-menu li .side-treeview {
  display: none;
  left: 100%;
  position: absolute      !important;
  border-left: 5px solid #1ABB9C;
  padding: 0;
  margin: 0;
  top: 0;
  width: 180px;
  z-index: 1000;
  background: #2c3b41;
}
/* line 246, ../sass/my.scss */
.side-sm .side-left .side-menu li .side-treeview li > a > span {
  font-size: 14px;
}
/* line 249, ../sass/my.scss */
.side-sm .side-left .side-menu li .side-treeview li {
  position: relative;
  width: 100%;
}
/* line 253, ../sass/my.scss */
.side-sm .side-left .side-menu li .side-treeview li a {
  padding: 10px 10px;
  border-left: 1px solid #425668;
  margin-left: 19px;
}
/* line 259, ../sass/my.scss */
.side-sm .side-left .side-menu li .side-treeview li a:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 9px;
  left: -5px;
  margin-top: 5px;
  position: absolute;
  right: auto;
  width: 9px;
  border-radius: 50%;
}

/* line 281, ../sass/my.scss */
.side-md > .side-left .side-menu .side-treeview {
  float: left;
  list-style: none;
  background: #2c3b41;
  width: 100%;
  padding-left: 0;
  border-right: 5px solid #1ABB9C;
}
/* line 288, ../sass/my.scss */
.side-md > .side-left .side-menu .side-treeview li {
  padding-left: 28px;
  position: relative;
}
/* line 291, ../sass/my.scss */
.side-md > .side-left .side-menu .side-treeview li a {
  padding: 10px 10px;
  border-left: 1px solid #425668;
}
/* line 299, ../sass/my.scss */
.side-md > .side-left .side-menu .side-treeview li a:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 9px;
  left: -5px;
  margin-top: 5px;
  position: absolute;
  right: auto;
  width: 9px;
  border-radius: 50%;
}
/* line 316, ../sass/my.scss */
.side-md > .side-left .side-menu li.active a > i {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Safari and Chrome */
}

/* line 325, ../sass/my.scss */
.admin-right-content {
  float: left;
}

/* line 330, ../sass/my.scss */
.side-md .admin-right-content {
  max-width: calc(100% - 230px);
}

/* line 336, ../sass/my.scss */
.side-sm .admin-right-content {
  max-width: calc(100% - 70px);
}
