/* line 2, ../sass/my.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/my.scss */
a {
  cursor: pointer;
}

/* line 10, ../sass/my.scss */
a:hover {
  text-decoration: none;
}

/* line 18, ../sass/my.scss */
.admin-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}
/* line 25, ../sass/my.scss */
.admin-header .navbar {
  margin-bottom: 0;
}

/* line 32, ../sass/my.scss */
.nav-admin {
  margin-left: 33px;
}
/* line 34, ../sass/my.scss */
.nav-admin li > a > i {
  font-size: 26px;
}

/* line 40, ../sass/my.scss */
.nav-user .user-img {
  width: 30px;
  height: 30px;
  margin: -5px 5px 0 0;
  border-radius: 50%;
  vertical-align: middle;
  float: left;
}
/* line 50, ../sass/my.scss */
.nav-user i {
  vertical-align: middle;
}

/* line 57, ../sass/my.scss */
.dropdown-user {
  font-size: 14px;
  padding: 0;
}

/* line 63, ../sass/my.scss */
.admin-content {
  padding-bottom: 50px;
  position: relative;
  float: left;
}

/* line 70, ../sass/my.scss */
.admin-right-content {
  margin: 0 20px;
}

/* line 74, ../sass/my.scss */
.admin-footer {
  position: absolute;
  height: 56px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  /* line 85, ../sass/my.scss */
  .admin-content {
    min-height: calc(100% - 60px);
    margin-top: 60px;
  }

  /* line 89, ../sass/my.scss */
  .side-left {
    min-height: calc(100% - 60px);
    top: 60px;
  }
}
@media screen and (max-width: 1199px) {
  /* line 95, ../sass/my.scss */
  .admin-content {
    min-height: calc(100% - 50px);
    margin-top: 50px;
  }

  /* line 99, ../sass/my.scss */
  .side-left {
    min-height: calc(100% - 50px);
    top: 50px;
  }
}
/* line 105, ../sass/my.scss */
.side-left {
  position: fixed;
  z-index: 100;
  left: 0;
  background: #222d32;
  color: #b8c7ce;
}
/* line 117, ../sass/my.scss */
.side-left .user-profile {
  width: 100%;
  padding: 10px 10px;
  float: left;
  margin-top: 3px;
  margin-bottom: 10px;
  position: relative;
}
/* line 133, ../sass/my.scss */
.side-left .user-profile .user-info {
  float: left;
  margin-left: 10px;
  line-height: 1.4;
  overflow: hidden;
  display: block;
}
/* line 139, ../sass/my.scss */
.side-left .user-profile .user-info p {
  margin-top: 5px;
  margin-bottom: 2px;
}
/* line 143, ../sass/my.scss */
.side-left .user-profile .user-info h4 {
  color: white;
  margin: 3px 0;
}
/* line 149, ../sass/my.scss */
.side-left .user-profile .side-toggle {
  position: absolute;
  right: 10px;
  margin: 15px 15px 0 0;
}
/* line 154, ../sass/my.scss */
.side-left .user-profile .side-toggle a > i {
  color: #b8c7ce;
  font-size: 30px;
  line-height: 1.2;
}

/* line 165, ../sass/my.scss */
.side-md .side-left {
  width: 230px;
}
/* line 169, ../sass/my.scss */
.side-md .admin-content {
  width: calc(100% - 230px);
  margin-left: 230px;
}

/* line 175, ../sass/my.scss */
.side-menu {
  padding: 0;
  position: relative;
  list-style: none;
  height: auto;
  width: 100%;
}
/* line 181, ../sass/my.scss */
.side-menu li {
  width: 100%;
  float: left;
  position: relative;
  margin-left: 0;
  display: block;
}
/* line 188, ../sass/my.scss */
.side-menu li .side-treeview {
  display: none;
}
/* line 190, ../sass/my.scss */
.side-menu li .side-treeview li {
  width: 100%;
  padding-left: 0;
}
/* line 191, ../sass/my.scss */
.side-menu li .side-treeview li a {
  overflow: visible;
}
/* line 193, ../sass/my.scss */
.side-menu li .side-treeview li a span {
  margin-left: 5px;
}
/* line 201, ../sass/my.scss */
.side-menu li a {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  color: #b8c7ce;
}
/* line 212, ../sass/my.scss */
.side-menu li a span {
  margin-right: 5px;
  font-size: 14px;
  line-height: 1.4;
}
/* line 218, ../sass/my.scss */
.side-menu li a .iconfont {
  font-size: 16px;
}
/* line 221, ../sass/my.scss */
.side-menu li a i {
  position: absolute;
  right: 20px;
  z-index: 20;
  transition: transform 0.5s;
}
/* line 230, ../sass/my.scss */
.side-menu li:hover {
  background: #23282d;
}
/* line 233, ../sass/my.scss */
.side-menu li.active {
  color: white;
}
/* line 236, ../sass/my.scss */
.side-menu li.active:after {
  content: '';
  width: 18px;
  height: 18px;
  border-width: 1px 0 0 1px;
  background: #eee;
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: -10px;
  top: 13px;
}

/* line 252, ../sass/my.scss */
.side-sm .side-left {
  width: 70px;
}
/* line 256, ../sass/my.scss */
.side-sm .admin-content {
  width: calc(100% - 170px);
  margin-left: 70px;
}
/* line 262, ../sass/my.scss */
.side-sm .side-left .user-info, .side-sm .side-left .side-item-name, .side-sm .side-left .side-menu i {
  opacity: 0;
}
/* line 268, ../sass/my.scss */
.side-sm .side-left .side-menu li {
  display: block;
  position: relative;
}
/* line 272, ../sass/my.scss */
.side-sm .side-left .side-menu li a > span {
  font-size: 20px;
  line-height: 1.4;
}
/* line 276, ../sass/my.scss */
.side-sm .side-left .side-menu li .side-treeview {
  display: none;
  left: 100%;
  position: absolute      !important;
  border-left: 5px solid #1ABB9C;
  padding: 0;
  margin: 0;
  top: 0;
  width: 180px;
  z-index: 1000;
  background: #2c3b41;
}
/* line 287, ../sass/my.scss */
.side-sm .side-left .side-menu li .side-treeview li > a > span {
  font-size: 14px;
}
/* line 290, ../sass/my.scss */
.side-sm .side-left .side-menu li .side-treeview li {
  position: relative;
  width: 100%;
}
/* line 294, ../sass/my.scss */
.side-sm .side-left .side-menu li .side-treeview li a {
  padding: 10px 10px;
  border-left: 1px solid #425668;
  margin-left: 19px;
}
/* line 300, ../sass/my.scss */
.side-sm .side-left .side-menu li .side-treeview li a:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 9px;
  left: -5px;
  margin-top: 5px;
  position: absolute;
  right: auto;
  width: 9px;
  border-radius: 50%;
}

/* line 322, ../sass/my.scss */
.side-md > .side-left .side-menu .side-treeview {
  float: left;
  list-style: none;
  background: #2c3b41;
  width: 100%;
  padding-left: 0;
  border-right: 5px solid #1ABB9C;
}
/* line 329, ../sass/my.scss */
.side-md > .side-left .side-menu .side-treeview li {
  padding-left: 28px;
  position: relative;
}
/* line 332, ../sass/my.scss */
.side-md > .side-left .side-menu .side-treeview li a {
  padding: 10px 10px;
  border-left: 1px solid #425668;
}
/* line 340, ../sass/my.scss */
.side-md > .side-left .side-menu .side-treeview li a:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 9px;
  left: -5px;
  margin-top: 5px;
  position: absolute;
  right: auto;
  width: 9px;
  border-radius: 50%;
}
/* line 357, ../sass/my.scss */
.side-md > .side-left .side-menu li.active a > i {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Safari and Chrome */
}

/* line 368, ../sass/my.scss */
.select-status {
  list-style: none;
  float: left;
  display: block;
  padding: 0;
  color: white;
  margin-left: 10px;
}
/* line 375, ../sass/my.scss */
.select-status li {
  display: inline-block;
  list-style: none;
  float: left;
  padding: 0 5px;
  font-size: 16px;
  color: #666666;
}

/* line 385, ../sass/my.scss */
.table-list-article {
  font-size: 14px;
  background: white;
}
/* line 388, ../sass/my.scss */
.table-list-article td {
  font-size: 13px;
  padding: 8px 10px;
}
/* line 391, ../sass/my.scss */
.table-list-article td a, .table-list-article td p, .table-list-article td span {
  padding: 5px 0;
  display: block;
}
/* line 396, ../sass/my.scss */
.table-list-article form {
  margin: 0;
  float: left;
}
/* line 400, ../sass/my.scss */
.table-list-article .table-article-title {
  word-wrap: break-word;
}
/* line 403, ../sass/my.scss */
.table-list-article .table-article-title a {
  font-weight: bold;
}
/* line 411, ../sass/my.scss */
.table-list-article .table-article-tags ul {
  list-style: none;
  padding: 0;
}
/* line 414, ../sass/my.scss */
.table-list-article .table-article-tags ul li {
  display: inline-flex;
  float: left;
  margin: -1 5px;
  padding: 0 5px;
  background: #009688;
  color: #FFFFFF;
  border-radius: 1px;
}
/* line 427, ../sass/my.scss */
.table-list-article .table-article-action ul {
  list-style: none;
  padding: 0;
}
/* line 430, ../sass/my.scss */
.table-list-article .table-article-action ul li {
  display: inline-flex;
  float: left;
  padding: 0 5px;
}
